@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto.woff);
  src: url(../fonts/roboto.woff2);
  src: url(../fonts/robotobold.woff);
  src: url(../fonts/robotobold.woff2);
  src: url(../fonts/robotomedium.woff);
  src: url(../fonts/robotomedium.woff2);
}

body {
  min-width: 1200px;

  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
  margin: 0;
}

img {
  max-width: 100%;
}


.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding-top: 50px;

  color: #000000;

  background-color: #eeeeee;
}

.main-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  text-transform: uppercase;
  background-color: #eeeeee;
}

.index-logo {
  width: 160px;
  min-height: 65px;
}

.index-logo:hover {
  opacity: 0.75;
}

.index-logo:active {
  opacity: 0.25;
}

.main-navigation ul {
  width: 440px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0;
}

.main-navigation li {
  list-style-type: none;
}

.main-navigation a {
  display: block;
  padding-top: 12px;

  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #a6a6a6;
}

.basket {
  width: 160px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  box-sizing: content-box;
}

.basket a {
  position: relative;

  display: block;
  padding-top: 28px;
  padding-right: 0px;
  padding-left: 50px;

  color: #000000;
  text-decoration: none;
}

.basket a:hover {
  color: #fb565a;
}

.basket a:active {
  color: #a6a6a6;
}

.basket a::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 10px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
}


/* СЛАЙДЕР */

.sliders {
  background-color: #eeeeee;
}

.sliders .container {
  position: relative;
}

.slider-item {
  min-height: 424px;
  width: 1160px;
  padding-top: 65px; 
  box-sizing: border-box;
}

.sliders-btns {
  position: absolute;
  top: 300px;
  left: 500px;
  z-index: 3;
}

.slider-item-left {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 2;


}

.slider-item-left p {
  padding-top: 10px;

  font-weight: normal;
}

.slider-item-left span {
  display: block;
}

.expensive .slider-item-left {
  width: 380px;
}

.math .slider-item-left {
  width: 560px;
}

.hardcore .slider-item-left {
  width: 460px;
}

.expensive .slider-item-right {
  position: absolute;
  top: 10px;
  left: 430px;
  z-index: 1;
}

.math .slider-item-right {
  position: absolute;
  top: 10px;
  left: 480px;
}

.hardcore .slider-item-right {
  position: absolute;
  top: 10px;
  left: 420px;
}

.slider-item-left b {
  display: block;

  font-size: 55px;
  line-height: 55px;
  font-weight: medium;
}

.btn {
  display: inline-block;
  padding: 16px 55px;

  font-weight: medium;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Roboto', Verdana, sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: #e37376;
  padding-top: 13px;
  border-top: 2px solid #c13135;
}

.site .btn {
  margin-top: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.app .btn {
  margin-top: 16px;
  padding-left: 40px;
  padding-right: 40px;

  background-color: #00ca74;
}

.app .btn:hover {
  background-color: #00bc6c;
}

.app .btn:active {
  background-color: #00aa62;
  color: #4dc491;
  padding-top: 13px;
  border-top: 2px solid #009958;
}

.presentation .btn {
  margin-top: 16px;
  padding-left: 40px;
  padding-right: 40px;

  background-color: #efc84a;
}

.presentation .btn:hover {
  background-color: #eab534;
}

.presentation .btn:active {
  background-color: #e5a722;
  color: #edc265;
  padding-top: 13px;
  border-top: 2px solid #ce961f;
}

.slider-item-left .btn {
  margin-top: 25px;
}


/*ПРЕИМУЩЕСТВА*/

.advantages {
  min-height: 347px;
  padding-bottom: 80px;
  padding-top: 80px;
  border-bottom: 2px solid #eeeeee;
}

.advantage-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  min-height: 347px;  
}

.advantage-item:last-child {
  margin-right: 0;
}

.advantage-item h2 {
  margin: 0;
  padding-top: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantage-item p {
  padding-right: 20px;
}

/*КОНТЕНТ*/

.index-content {
  min-height: 524px;
  border-bottom: 2px solid #eeeeee;

}

.index-content-left {
  float: left;
  width: 660px;
  min-height: 450px;
  padding-top: 30px;
  box-sizing: border-box;
}

.index-content-title {
  margin: 0;
  padding-top: 42px;
  font-size: 45px;
  line-height: 45px;
  font-weight: medium;
}

.index-content-desc {
  padding-top: 20px;
}

.services {
  padding-top: 5px;
}

.services p {
  font-weight: bold;
  text-transform: uppercase;
}

.services ul {
  padding-left: 38px;
  padding-top: 7px;
}

.services li {
  position: relative;
  padding-bottom: 25px;

  list-style-type: none;
  text-decoration: none;
}

.services li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -35px;

  width: 26px;
  height: 2px;

  background-color: #fb565a;
}

.index-content-right {
  float: right;
  width: 360px;
  min-height: 450px;
  padding-top: 40px;
  box-sizing: border-box;
}

.index-content-right-title {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 30px;

  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

}

.feature-percents {
  position: relative;
  display: block;
  padding-top: 20px;
  font-weight: bold;
  font-size: 45px;
  line-height: 10,06px;
  font-weight: bold;
}

.percents {
  position: absolute;
  top: 12px;
  left: 78px;
  margin: 0;

  font-size: 25px;
}

.percents-min {
  position: absolute;
  top: 12px;
  left: 50px;
  margin: 0;

   font-size: 25px;
}

.feature {
  float: left;
  width: 120px;
  min-height: 100px;
}

.feature-info {
  padding-top: 14px;

  line-height: 18px;
}

/*ССЫЛКИ НА ПАРТНЕРОВ*/


.partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 180px;
  border-bottom: 2px solid #eeeeee;
}

/*
.partners {
  display: inline-block;
  min-height: 180px;
  vertical-align: middle;
  border-bottom: 2px solid #eeeeee;
}
*/

.partners a {
  opacity: 0.25;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.partner-item {
  padding-left: 31px;
  padding-top: 15px;
}

/*КАРТА*/

.location {
  margin-top: 80px;
  width: 100%;
}
.location img {
  width: 100%;
}

.contacts {
  position: relative;

  z-index: 1;
}

/*СОЦСЕТИ*/


.main-footer {
  margin-top: 65px;
}

.footer-social {
  float: left;
  width: 260px;
  margin-right: 140px;
  min-height: 80px;
}

.friendship {
  float: left;
  width: 560px;
  min-height: 80px;
}

/* КАТАЛОГ */

.catalog-content {
  margin-top: 0;
  box-sizing: border-box;
}

.catalog-content h1 {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;

  margin: 0;
  padding-top: 70px;
  padding-bottom: 108px;
  background-color: #eeeeee;
}

.container h1 {
  background-color: #eeeeee;
}

.catalog-content-left {
  float: left;
  width: 260px;
  min-height: 850px;  
}

.catalog-content h3 {
  text-transform: uppercase;
}

.catalog-content li {
  padding-bottom: 18px;
}

.catalog-content-right {
  float: right;
  width: 760px;
  min-height: 2056px;
  padding-top: 20px;
}

.sort {
  width: 760px;
  min-height: 70px;
}
.sort-left {
  float: left;
  margin-top: 35px;
}

.sort-right {
  font-size: 14px;
  line-height: 18px;
  float: right;
  margin-top: 40px;
}
.sort-type {
  margin-right: 25px;
  text-transform: uppercase;
}

.sort-type:last-child {
  margin-right: 0;
}

.item {
  float: left;
  width: 360px;
  min-height: 660px;
  margin-right: 40px;
}

.item:nth-child(2n) {
  margin-right: 0;
}

.item-image img {
  width: 100%;
}

.page {
  float: left;
  width: 50px;
  height: 50px;
}

.next-page {
  float: left;
  width: 260px;
  height: 50px; 
}

/* POPUP */

.address {
  position: absolute;
  top: -370px;
  left: 20px;
  z-index: 2;

  padding-top: 35px;
  padding-bottom: 45px;
  padding-left: 50px;
  padding-right: 50px;

  background-color: #ffffff;
  color: #666666;
}

.address .btn {
  margin-top: 17px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 18px;
}

.address-title {
  padding-bottom: 5px;

  font-size: 18px;
  line-height: 30px;
  font-family: 'Roboto', Verdana, sans-serif;
  color: #000000;

  text-transform: uppercase;
}

.post {
  font-size: 16px;
  line-height: 18px;
}
.popup {
  position: absolute;
}

.popup input {
  font-size: 16px;
  line-height: 18px;
  font-family: 'Roboto', Verdana, sans-serif;
  color: #d7dcde;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px; 
}