@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto.woff);
  src: url(../fonts/roboto.woff2);
  src: url(../fonts/robotobold.woff);
  src: url(../fonts/robotobold.woff2);
  src: url(../fonts/robotomedium.woff);
  src: url(../fonts/robotomedium.woff2);
}

body {
  min-width: 1200px;

  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}


.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  color: #000000;

  background-color: #eeeeee;
}

.main-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  text-transform: uppercase;
  background-color: #eeeeee;
}

.index-logo {
  width: 160px;
  min-height: 65px;
}

.main-navigation ul {
  width: 440px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0;
}

.main-navigation li {
  list-style-type: none;
}

.main-navigation li:first-child {
  padding:; 0;
}

.main-navigation a {
  display: block;
  padding-top: 12px;

  color: #000000;
  text-decoration: none;
}

.basket {
  width: 160px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  box-sizing: content-box;
}

.basket a {
  display: block;
  padding-top: 30px;
  padding-right: 0px;

  color: #000000;
  text-decoration: none;
}

/* СЛАЙДЕР */

.sliders {
  background-color: #eeeeee;
}

.slider-item {
  min-height: 430px;
  margin-bottom: 80px;
}

.slider-item-left {
  float: left;
  width: 380px;
  min-height: 413px;
  padding-top: 65px;
  box-sizing: border-box;
}

.slider-item-left p {
  padding-top: 10px;
}

.slider-item-left span {
  display: block;
}

.slider-item-right {
  float: right;
  width: 760px;
  min-height: 413px;
}

.slider-item-left b {
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;
}

/*ПРЕИМУЩЕСТВА*/

.advantages {
  min-height: 347px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.advantage-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  min-height: 347px;  
}

.advantage-item:last-child {
  margin-right: 0;
}

/*КОНТЕНТ*/

.index-content {
  min-height: 528px;
  border-bottom: 2px solid #eeeeee;

}

.index-content-left {
  float: left;
  width: 660px;
  min-height: 450px;
  padding-top: 30px;
  box-sizing: border-box;
}

.index-content-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: medium;
}

.services p {
  font-weight: bold;
  text-transform: uppercase;
}

.services li {
  padding-bottom: 25px;
}

.index-content-right {
  float: right;
  width: 360px;
  min-height: 450px;
  padding-top: 40px;
  box-sizing: border-box;
}

.index-content-right-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 30px;
}

.feature-percents {
  font-weight: bold;
  font-size: 45px;
  line-height: 10,06px;
  font-weight: bold;
}

.feature {
  float: left;
  width: 120px;
  min-height: 100px;
}

/*ССЫЛКИ НА ПАРТНЕРОВ*/

.partners {
  border-top: 2px solid #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 180px;
  border-bottom: 2px solid #eeeeee;
}

.partner-item {
  width: 260px;
}

/*КАРТА*/

.location {
  margin-top: 80px;
  width: 100%;
}
.location img {
  width: 100%;
}

/*СОЦСЕТИ*/


.main-footer {
  margin-top: 65px;
}

.footer-social {
  float: left;
  width: 260px;
  margin-right: 140px;
  min-height: 80px;
}

.friendship {
  float: left;
  width: 560px;
  min-height: 80px;
}

/* КАТАЛОГ */

.catalog-content {
  margin-top: 0;
  box-sizing: border-box;
}

.catalog-content h1 {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 108px;
  background-color: #eeeeee;
}

.container h1 {
  background-color: #eeeeee;
}

.catalog-content-left {
  float: left;
  width: 260px;
  min-height: 850px;  
}

.catalog-content h3 {
  text-transform: uppercase;
}

.catalog-content li {
  padding-bottom: 18px;
}

.catalog-content-right {
  float: right;
  width: 760px;
  min-height: 2056px;
  padding-top: 20px;
}

.sort {
  width: 760px;
  min-height: 70px;
}
.sort-left {
  float: left;
  margin-top: 35px;
}

.sort-right {
  font-size: 14px;
  line-height: 18px;
  float: right;
  margin-top: 40px;
}
.sort-type {
  margin-right: 25px;
  text-transform: uppercase;
}

.sort-type:last-child {
  margin-right: 0;
}

.item {
  float: left;
  width: 360px;
  min-height: 660px;
  margin-right: 40px;
}

.item:nth-child(2n) {
  margin-right: 0;
}

.item-image img {
  width: 100%;
}

.page {
  float: left;
  width: 50px;
  height: 50px;
}

.next-page {
  float: left;
  width: 260px;
  height: 50px; 
}